.tile {
  pointer-events: all;
  background-color: $gray2;
  width: 98px;
  height: 98px;
  position: absolute;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .25);
  transform: translate(2px, 2px);
  transition: background-color .25s;

  &.connecting {
    background-color: $green;
  }

  &-arrow {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform .5s, opacity .5s, visibility .5s;
  }

  &-distance {
    position: absolute;
    line-height: 100px;
    width: 100%;
    color: $white;
    text-align: center;
    font-family: 'courier';
  }

  &-edges {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &-edge {
      position: absolute;
      font-size: 10px;
      font-family: 'courier', sans-serif;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      line-height: 10px;
      text-align: center;
      // outline: 1px solid blue;

      &.north {
        top: 10px;
        left: 50%;
      }
      &.south {
        top: calc(100% - 10px);
        left: 50%;
      }
      &.east {
        top: 50%;
        left: calc(100% - 10px);
      }
      &.west {
        top: 50%;
        left: 10px;
      }
    }
  }
}
