$gray1: rgb(200, 200, 200);
$gray2: rgb(150, 150, 150);
$blue: rgb(100, 200, 225);
$white: rgb(255, 255, 255);
$green: rgb(103, 255, 76);
$purple: rgb(200, 50, 100);

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;

}

.app {
  background-color: $gray1;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  button {
    padding: 10px 20px;
    width: 120px;
    background-color: $blue;
    color: $white;
    margin: 5px;
    border: 0;
    outline: 0;
    -webkit-tap-highlight: none;
    border-radius: 5px;
    box-shadow: 0 5px 0 $gray2;
    transition: background-color .25s, transform .25s, box-shadow .25s;

    &:hover {
      background-color: lighten($blue, 5);
    }

    &:active {
      background-color: darken($blue, 5);
      box-shadow: 0 0 0 $gray2;
      transform: translateY(5px);
    }
  }

  $gridColor: rgba(255, 255, 255, .25);

  .tiles {
    background-image: repeating-linear-gradient(0deg,transparent, transparent 99px, $gridColor 99px, $gridColor 100px),repeating-linear-gradient(-90deg,transparent, transparent 99px, $gridColor 99px, $gridColor 100px);
    background-size: 100px 100px;
    background-position: -50px -50px;
  }

  .tiles, .people {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // pointer-events: none;
  }

  .buttons {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 1;
  }

  .hidden {
    opacity: 0;
    visibility: hidden;
  }
}

@import './style/_tile.scss';
@import './style/_exit.scss';
@import './style/_person.scss';
